* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 500px;
    margin: 0 auto;
}

.img-fluid {
    width: 120px;
    height: auto;
}

.row {
    display: flex;
    gap: 5px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

form {
    width: 100%;
    display: flex;
}

input {
    width: 100%;
    margin: 5px;
}

.form-message {
    text-align: center;
    border: 1px solid green;
    background: lightblue;
    margin: 10px;
    display: none;
}

img {
    border: 1px solid grey;
    cursor: pointer;
}
img:active {
    border: 1px solid red;
}

#form {
    display: none;
}

.dice {
    display: none;
}

#dice {
    object-fit: cover;
}

#try-again {
    display: none;
    height: fit-content;
}

#coupon-container {
    display: none;
    justify-content: center;
    align-items: center;
}

#congrats {
    display: none;
    width: 105px;
    margin: 0 auto;
}